body{
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;
}

.container{
  max-width: 800px;
  margin: 0 auto;
}

h1{
  text-align: center;
}

.month-form button{
  background: none;
  border: none;
  color: #333;
  font-size: 1em;
  padding: 10px;
}

.month-form{
  text-align: center;
  font-size: 2em;
}

.month-column{
  width: 50%;
  float: left;
}

.month-title{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 2em;
}

table.month-table{
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

table.month-table tr.friday td{
  border-bottom: 2px solid #000;
}

table.month-table td{
  border: 1px solid #555;
  text-align: center;
  padding: 10px; 3px;
}

th.day{
  width: 25%;
}

th.name{
  width: 50%;
}

.clearfix{
  clear:both;
}

@media print {
  .no-print { display: none; }
}
